---
import MainLayout from "../layout/main-layout.astro";
---

<MainLayout title="Editor Dev">
  <main>
    <section class="html" id="html"></section>
    <section class="css" id="css"></section>
    <section class="js" id="js"></section>
    <section class="iframe">
      <iframe srcdoc="" id="iframe" title="html"></iframe>
    </section>
    <div class="horizontal-gutter"></div>
    <div class="vertical-gutter"></div>
  </main>
</MainLayout>

<script src="../script/main.ts"></script>

<style>
  main {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 49.6% .3% 49.6%;
    grid-template-rows: 49.6% .3% 49.6%;
  }

  section {
    height: 100%;
    width: 100%;
    position: relative;
  }

  section::after {
    content: "";
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 50;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  textarea {
    background-color: #333;
    height: 100%;
    width: 100%;
    color: white;
    padding: 8px;
    font-size: 22px;
    resize: none;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 97% 95%;
  }

  iframe {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: white;
  }

  #html::after {
    background-image: url("/img/html5.svg");
  }

  #css::after {
    background-image: url("/img/css3.svg");
  }

  #js::after {
    background-image: url("/img/js.svg");
  }

  .vertical-gutter {
    grid-area: 1 / 2 / 4 / 2;
    border: solid 1px white;
    cursor: col-resize;
  }

  .horizontal-gutter {
    grid-area: 2 / 1 / 2 / 4;
    border: solid 1px white;
    cursor: row-resize;
  }
</style>
