---
import MainLayout from "../layout/main-layout.astro";
---

<MainLayout title="Editor Dev">
  <main>
    <section class="html">
      <textarea name="" id="html"></textarea>
    </section>
    <section class="css">
      <textarea name="" id="css"></textarea>
    </section>
    <section class="js">
      <textarea name="" id="js"></textarea>
    </section>
    <section class="iframe">
      <iframe srcdoc="" id="iframe" title="html"></iframe>
    </section>
    <div class="horizontal-gutter"></div>
    <div class="vertical-gutter"></div>
  </main>
</MainLayout>

<script src="../script/main.ts"></script>

<style>
  main {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4px 1fr;
    grid-template-rows: 1fr 4px 1fr;
  }

  section {
    height: 100%;
    width: 100%;
  }

  textarea {
    background-color: #333;
    height: 100%;
    width: 100%;
    color: white;
    padding: 8px;
    font-size: 22px;
    resize: none;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 97% 95%;
  }

  iframe {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: white;
  }

  #html {
    background-image: url("/img/html5.svg");
  }

  #css {
    background-image: url("/img/css3.svg");
  }

  #js {
    background-image: url("/img/js.svg");
  }

  .vertical-gutter {
    grid-area: 1 / 2 / 4 / 2;
    border: solid 1px white;
    cursor: col-resize;
  }

  .horizontal-gutter {
    grid-area: 2 / 1 / 2 / 4;
    border: solid 1px white;
    cursor: row-resize;
  }
</style>
