---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="editor, code, editor dev, vsc, codigo,visual,html,css,js,javascript">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Jeyson Camilo Guzman Rico">
    <link rel="author" href="https://plus.google.com/+Jeyson">
    <meta property="og:title" content="Editor Dev">
    <meta property="og:description" content="Editor onLine simular Visual Studio Code">
    <meta property="og:image" content="/img/code-editor.svg">
    <meta property="og:url" content="https://editor-dev.pages.dev/">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="Editor Dev">
    <link rel="shortcut icon" href="/img/code-editor.svg" type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100dvb;
    width: 100%;
  }
</style>
